<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Cat Fact App</p>
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>
