<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Cat Fact</title>
</head>
<body>
    <h2>Cat Fact: <%= fact %></h2>
    <a href="/cats/fact" id="another-fact-link">Get another cat fact!</a>
</body>
</html>